{% extends 'core/base.html' %}{%block title%}Proveedores{% endblock %}{% block content %}
<main class="pt-4">
    <div class="container">
        <h2 class="text-center mb-4">Administración de Proveedores</h2>

        <div class="row text-center panel justify-content-center align-middle">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="boton bg-success d-flex align-items-center justify-content-center">
                    <a href="{% url 'providers:create' %}" class="text-light">
                        <i class="material-icons">add</i>
                        <p class="m-0">Nuevo</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- row -->

        <h3 class="text-center mt-4">Lista de Proveedores</h3>

        <table class="table">
            <caption>Listado Actualizado...</caption>

            <thead>
                <tr>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Categoría</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                {% if providers_list %} {% for provider in providers_list %}
                <tr>
                    <td>{{ provider.description}}</td>
                    <td>{{ provider.address}}</td>
                    <td>{{ provider.category}}</td>

                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="Eliminar Proveedor" href="{% url 'providers:delete' provider.register_id%}" class="btn btn-danger"><i class="material-icons mr-2">delete</i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Editar Proveedor" href="{% url 'providers:update' provider.register_id %}" class="btn btn-edit"><i class="material-icons">description</i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Detalles de Proveedor" href="{% url 'providers:provider' provider.register_id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
    <!-- container -->
</main>

{% endblock %}