{% extends 'core/base.html' %}{%block title%}Residentes{% endblock %} {% block content%}
<main class="pt-4">
    <div class="container">
        <h2 class="text-center mb-4">Administración de Residentes</h2>

        <div class="row text-center panel justify-content-center align-middle">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="boton bg-success d-flex align-items-center justify-content-center">
                    <a href="{% url 'residents:create' %}" class="text-light">
                        <i class="material-icons">add</i>
                        <p class="m-0">Nuevo</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- row -->

        <div class="col mt-5">
            <form action="#" class="my-2 my-lg-0">
                <input class="form-control" type="search" placeholder="Buscar residente por nombre...">
            </form>
        </div>

        <h3 class="text-center mt-4">Lista de Residentes</h3>

        <table class="table">
            <caption>Listado Actualizado...</caption>

            <thead>
                <tr>

                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Nombre del Propietario</th>
                    <th></th>

                </tr>

            </thead>
            <tbody>
                {% if residents_list %} {% for resident in residents_list %}
                <tr>

                    <td>{{ resident.name}}</td>
                    <td>{{ resident.lastname }}</td>
                    <td>{{ resident.address}}</td>
                    <td>{{ resident.owner_name }}</td>
                    <td>
                        {% if request.user.is_staff %}

                        <a data-toggle="tooltip" data-placement="top" title="Eliminar Residente" href="{% url 'residents:delete' resident.id %}" class="btn btn-danger"><i class="material-icons">delete</i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Editar Residente" href="{% url 'residents:update' resident.id %}" class="btn btn-edit"><i class="material-icons">description</i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Ver Residente" href="{% url 'residents:resident' resident.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a> {% endif %}

                    </td>
                </tr>

                {% endfor %} {% else %}
                <p>No hay residentes registrados</p>
                {% endif %}


            </tbody>
        </table>
    </div>
    <!-- container -->
</main>

{% endblock %}