{% extends 'resident/base.html' %}{%block title%}Proveedores{% endblock %}{% block content %}
<main class="pt-4">
    <div class="container">
        <h2 class="text-center mb-4">Administración de Proveedores</h2>

        <div class="row text-center panel justify-content-center align-middle">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="boton bg-success d-flex align-items-center justify-content-center">
                    <a href="nuevo_cliente.html" class="text-light">
                        <i class="material-icons">add</i>
                        <p class="m-0">Nuevo</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- row -->

        <h3 class="text-center mt-4">Lista de Proveedores</h3>

        <table class="table">
            <caption>Listado Actualizado...</caption>

            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Correo Electrónico</th>
                    <th scope="col">Tipo de Inmueble</th>
                    <th scope="col">Nombre del Propietario</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Kedfy</td>
                    <td>González</td>
                    <td>Macuilis 122</td>
                    <td>kedfygo@gmail.com</td>
                    <td>Casa</td>
                    <td>José Sánchez</td>
                    <td>
                        <a href="#" class="btn btn-danger"><i class="material-icons mr-2">delete</i></a>
                        <a href="#" class="btn btn-success"><i class="material-icons">description</i></a>
                        <a href="#" class="btn btn-primary"><i class="material-icons">visibility</i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <!-- container -->
</main>

{% endblock %}