{% extends 'core/base.html' %}{%block title%}Proveedores{% endblock %}{% block content %}
<main class="pt-4">
    <div class="container">
        <h2 class="text-center mb-4">Registrar Pago</h2>

        <div class="row text-center panel justify-content-center align-middle">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="boton bg-success d-flex align-items-center justify-content-center">
                    <a href="{% url 'payments:create' %}" class="text-light">
                        <i class="material-icons">add</i>
                        <p class="m-0">Nuevo</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- row -->

        <h3 class="text-center mt-4">Pagos Registrados</h3>

        <table class="table">
            <caption>Listado Actualizado...</caption>

            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Tipo de Pago</th>
                    <th scope="col">Comprobante</th>
                    <th scope="col">Fecha de Pago</th>
                    <th></th>


                </tr>
            </thead>
            <tbody>
                {% if payments_list %} {% for payment in payments_list %}
                <tr>
                    <td>{{ payment.name}}</td>
                    <td>{{ payment.lastname}}</td>
                    <td>{{ payment.address}}</td>
                    <td>{{ payment.description}}</td>
                    <td>{{ payment.amount}}</td>
                    <td>{{ payment.type_of_payment}}</td>
                    <td><a href="{{ payment.proof_of_payment.url }}" class="">Ver recibo</a></td>
                    <td> {{ payment.date_of_payment }}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="top" title="Detalles del Pago" href="{% url 'payments:payment' payment.id %}" class="btn btn-primary"><i class="material-icons">visibility</i></a>
                    </td>
                </tr>
                {% endfor %} {% endif %}
            </tbody>
        </table>
    </div>
    <!-- container -->
</main>

{% endblock %}